<div class="card">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h3><%= Tracking.model_name.human(count: 2) %></h3>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <table class="table responsive table-striped">
        <thead>
          <tr>
            <th><%= Tracking.human_attribute_name('guid') %></th>
            <th><%= Tracking.human_attribute_name('location') %></th>
            <th><%= Tracking.human_attribute_name('accessed_at') %></th>
          </tr>
        </thead>

        <tbody>
          <% @trackings.each do |tracking| %>
            <tr>
              <td><%= tracking.guid %></td>
              <td><%= tracking.location %></td>
              <td><%= l tracking.accessed_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
