<!DOCTYPE html>
<html>
  <head>
    <title>NavTrackingRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header">
      <h3>Nav Tracking<h3>
    </div>

    <div class="wrapper">
      <%= render partial: 'layouts/menu' %>

      <div id="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
